albumok/vendor/
albumok/node_modules/
albumok/npm-debug.log
albumok/yarn-error.log

# Laravel 4 specific
albumok/bootstrap/compiled.php
albumok/app/storage/

# Laravel 5 & Lumen specific
albumok/public/storage
albumok/public/hot

# Laravel 5 & Lumen specific with changed public path
albumok/public_html/storage
albumok/public_html/hot

albumok/storage/*.key
albumok/.env
albumok/Homestead.yaml
albumok/Homestead.json
albumok/.vagrant
albumok/.phpunit.result.cache
